.header {
    grid-area: header;
    background: linear-gradient(90deg, #ffffff 0%, #00D9F5 100%);
    font-family: monospace;
}

.links {
    margin-right: 100px;
    padding-top: 20px;
    float: right;
    display: flex;
}
a {
    font-family: monospace;
}
a.active {
    color: rgb(31, 86, 236);
}
.login {
    margin-right: 50px;
}
