.paginatorStyle {
    height: 50px;
    width: 500px;
    font-size: 14px;
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}
.pageNumber, .selectedPage  {
    font-weight: bold;
    color: black;
}