.statusContainer {
    display: flex;
    padding: 30px;
    
}
.profileInfo img {
    border: none;
    border-radius: 0px;
    width: 200px;
    height: 200px;
}
.profileInfo {
    display: flex;
    flex-direction: row;

}
.lookingForAJobBlock, .aboutMeBlock, .fullNameBlock  {
   display: flex;
   margin-top: 10px;
}
.contactsBlock {
    margin-top: 10px;
}
.editProfileInfoBtn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(185, 190, 255);
}
.sendFileButton {
    margin-top: 30px;
}
.sendFileInput {
    width: 70px;
    height: 50px;
    color: red;
}
.profileDataBlock {
    padding-top: 50px;
}