.statusContainer {
    display: flex;
    padding: 30px;
}
.profileInfo img {
    border: none;
    border-radius: 0px;
    width: 200px;
    height: 200px;
}
.profileInfo {
    display: flex;
    flex-direction: row;
}
.sendFileButton {
    display: flex;
    
}
.lookingForAJobBlock, .aboutMeBlock, .fullNameBlock, .skills  {
   display: flex;
   margin-top: 10px;
   font-size: 13px;
}
.contactsBlock {
    margin-top: 10px;
    font-size: 13px;
}
.editProfileInfoBtn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(185, 190, 255);
}

.profileDataBlock {
    padding-top: 50px;
}